<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turistattraktioner</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<table>
    <caption>Turistattraktioner</caption>
    <thead>
    <tr>
        <th scope="col">Navn</th>
        <th scope="col">Beskrivelse</th>
        <th scope="col">Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${attractions}">
        <th scope="row" th:text="${a.name}">Navn</th>
        <td th:text="${a.description}">Beskrivelse</td>
        <td>
            <a th:href="@{'/' + ${a.name} + '/tags'}">
                <button type="button">Tags</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/add}">
    <button type="button">Tilføj attraktion</button>
</a></body>
</html>