<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turistguide!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<img class="hero-img" src="/images/copenhagen.jpg" alt="København">

<div class="content">
    <nav>
        <h1> Turistguide!</h1>
        <ul class="list">
            <li><a href="/attractions"> Se alle attraktioner </a></li>
            <li><a href="http://localhost:8080/attractions/Runde%20Taarn"> Se Runde Tårn </a></li>
            <li><a href="http://localhost:8080/attractions/Kongens%20Have"> Se Kongens Have </a></li>
            <li><a href="http://localhost:8080/attractions/Den%20Lille%20Havfrue"> Se Den Lille Havfrue </a></li>
        </ul>
    </nav>

    <main>
        <h2> Om TuristGuide</h2>
        <p> Turistguiden er en simpel guide, som er lavet som en del af vores 2. semester projekt. Den viser informationer om turistattraktioner i København. Guiden indeholder lige nu hardkodede data, men kan senere udvides til at dække hele Danmark eller hele verden.
        </p>

        <p> Turistguiden er rettet mod turister, studerende og andre, der hurtigt vil kunne få information om kendte steder i København. Man kan både se en samlet liste af attraktioner og slå en enkelt attraktion op via dens navn hvis ønsket.</p>


        <h3> Brugbare links:</h3>
        <ul class="list">
            <li><a href="https://dinoffentligetransport.dk/citypass_da" target="_blank"> Din Offentlige Transport (City Pass) </a></li>
            <li><a href="https://rejseplanen.dk" target="_blank"> Rejseplanen  </a></li>
            <li><a href="https://dsb.dk" target="_blank"> DSB  </a></li>
        </ul>

    </main>



    <footer>
        Kontakt: ekturistguide@stud.ek.dk | +45 12 34 56 78
    </footer>

</div>

</body>
</html>